@use "../abstracts/variables" as var;

// ==========================================================================
// LEXEND
// ==========================================================================
@font-face {
    font-family: 'Lexend';
    src: url('#{var.$fontPath}/lexend/Lexend-ExtraBold.woff') format('woff2'),
        url('#{var.$fontPath}/lexend/Lexend-ExtraBold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lexend';
    src: url('#{var.$fontPath}/lexend/Lexend-Medium.woff') format('woff2'),
        url('#{var.$fontPath}/lexend/Lexend-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// ==========================================================================
// MONSTRO
// ==========================================================================
@font-face {
    font-family: 'Monstro';
    src: url('#{var.$fontPath}/monstro/Monstro.woff') format('woff2'),
        url('#{var.$fontPath}/monstro/Monstro.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}